/* Estilos para el título del calendario */


.titulo-calendario {
  font-family: "DynaPuff", system-ui;
  
  background-color: #b8e4ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-image: url('../Iconos/calendario.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover; /* Ajuste automático de tamaño */

  

  /* Media query para pantallas más grandes */
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: contain; /* Ajustar tamaño sin cortar la imagen */
    padding-right: 50px; /* Espacio para la imagen a la derecha */
  }

  /* Ocultar imagen en pantallas pequeñas */
  @media screen and (max-width: 767px) {
    background-image: none;
  }
}

/* Estilos generales del cuerpo */
body {
  margin: 40px 10px;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  background-image: url('../Imagenes/FondoCalendaario.webp');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  border-radius: 5px;
}

/* Estilos para el calendario */
#calendar {
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  #calendar {
    max-width: 100%; /* Ancho máximo del calendario al 100% en pantallas pequeñas */
    
  }
}

/* Cambiar el color de fondo de los botones */
.fc-prev-button, .fc-next-button, .fc-today-button {
  background-color: #ff0000; /* Cambiar al color deseado */
}

/* Cambiar el color del texto de los botones */
.fc-button {
  color: #ffffff; /* Cambiar al color deseado */
}

/* Cambiar el color de fondo del botón de hoy */
.fc-today {
  /*background-color: #00ff00;  Cambiar al color deseado */
  background-color: #CAFFBF; /* Cambiar al color deseado */
}

/* Estilos adicionales para el calendario */
.fc-daygrid-day {
  background-color: #77dd77;
  height: 60px;
}

.fc-daygrid-day-number {
  color: #FFFFFF;
  font-size: large;
  line-height: 80px; /* Centrar el número del día verticalmente */
  font-size: 16px; /* Tamaño de fuente del número del día */
}

.fc-event-title {
  color: #FFFFFF;
  
}
/* Estilos comunes para los botones */
.fc-button.fc-button-primary {
  background-color: #76a3db !important;
  border-color: #76a3db;
}
.fc-button.fc-button-primary:active {
    background-color: #226eca !important; /* Cambiar al color deseado */
    border-color: #226eca !important; /* Cambiar el color del borde si es necesario */
    color: #ffffff !important; /* Cambiar el color del texto */
}
.fc-toolbar-title {
  font-size: 24px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  font-weight: bold; /* Grosor de la fuente */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  font-family: "DynaPuff", system-ui;
}


/* Estilos para el contenedor principal */
.container2 {
  background-color: white; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-left: 100px; 
  margin-right: 100px;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .container2 {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Estilos para los botones */
.btn-primary {
  background-color: #a9e9a4;
  border-color: #a9e9a4;
}

.btn-primary:hover {
  background-color: #66cc88;
  border-color: #66cc88;
}

.btn-danger {
  background-color: #ff999c;
  border-color: #ff959c;
}

.btn-danger:hover {
  background-color: #f96356;
  border-color: #f96356;
}

.btn-success {
  background-color: #a0c4ff ;
  border-color: #a0c4ff  ;
}

.btn-success:hover {
  background-color: #a0c4ff  ;
  border-color: #a0c4ff ;
}

/* Espacio final */
.espacio-final {
  margin-bottom: 50px;
}

/* Estilos para el pie de página */
footer {
  margin-top: auto;
  background-color: #76a3db;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

/* Ocultar el botón "Today" en pantallas muy pequeñas */
@media screen and (max-width: 767px) {
  .fc-today-button {
    display: none !important;
  }
}