/* Estilos para el título */
.titulo {
  background-color: #67c6e6;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-family: "DynaPuff", system-ui;

  /* Ocultar imagen en pantallas pequeñas */
  @media screen and (max-width: 767px) {
      background-image: none;
  }
}

/* Estilos generales del cuerpo */
body {
  margin: 0;
  padding: 0;
  font-family: "DynaPuff", system-ui;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 15px;
  background-image: url('../Imagenes/login_fondo.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

/* Estilos para las tarjetas */
.card {
  border: rgba(0,0,0,0.5);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
  margin: 20px auto; /* Centrar la tarjeta horizontalmente */
  max-width: 400px; /* Ancho máximo de la tarjeta */
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0,0,0,0.1);
}

.card-header {
  background-color: #67c6e6;
  color: white;
  border-radius: 15px 15px 0 0;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  border-radius: 5px;
  transition: transform 0.2s;
  background-color: #51e081;
  border-color: #51e081;
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: #51e081;
  border-color: #51e081;
}

.container2 {
  background-color: white; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  margin: 20px auto; /* Centrar el contenedor horizontalmente */
  max-width: 400px; /* Ancho máximo del contenedor */
}

.espacio-final {
  margin-bottom: 20px;
}

/* Ocultar la columna en pantallas pequeñas */
@media screen and (max-width: 767px) {
  .col-md-4 {
      display: none;
  }

  .container2 {
      margin-left: 10px;
      margin-right: 10px;
  }
}
