
        .titulo-control {
            background-color: #ff7876;
            color: #ffffff;
            padding: 10px;
            border-radius: 5px;

            background-image: url('../Iconos/signos.png');
            background-repeat: no-repeat;
            background-position: right center;
        }

        body {
            background-image: url('../Imagenes/signos_fondo.png');
            background-size: cover; 
            background-repeat: no-repeat; 
            background-attachment: fixed; 

            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container2 {
            background-color: white; 
            padding: 20px; 
            border-radius: 10px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            margin-left: 100px; 
            margin-right: 100px;
        }

        .table th,
        .table td {
           vertical-align: middle;
           white-space: nowrap;
        }

        .table thead th {
            background-color: #ff7876 ;
            color: #ffffff;
            border-color: #ff7876 ;
        }       

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }

        .table-bordered thead th,
        .table-bordered thead td {
            border-bottom-width: 2px;
        }

        .btn-primary {
            background-color: #a9e9a4;
            border-color: #a9e9a4;
        }

        .btn-primary:hover {
            background-color: #7ed957;
            border-color: #7ed957;
        }

        .btn-danger {
            background-color: #f96356;
            border-color: #f96356;
        }

        .btn-danger:hover {
            background-color: #ed1c24;
            border-color: #ed1c24;
        }

        .btn-success {
            background-color: #a0c4ff ;
            border-color: #a0c4ff  ;
        }
        .btn-success:hover {
            background-color: #a0c4ff  ;
            border-color: #a0c4ff ;
        }


        .bg-custom {
            background-color: #84b6f4;
        }

        .espacio-final {
            margin-bottom: 50px;
        }

        footer {
            margin-top: auto;
            background-color: #76a3db;
            color: white;
            text-align: center;
            padding: 10px 0;
        }